@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo! <i class="far fa-smile-wink"></i></h1>
    <p>Para nos conhecer melhor, acesse: <a href="https://www.sponte.com.br">Sponte</a>.</p>
</div>
